
<div class="container">
    <app-mobile-dashboard></app-mobile-dashboard>
    <!-- <  app-post-dashboard></app-post-dashboard> -->
    <div class="col-12">
      <!-- <app-one [getPost]="person"></app-one> -->
    </div>
    <div class="col-md-4">
       <!-- <app-two [getPost1]="postobj"></app-two> -->
    </div>
     <div class="col-md-4">
       <!-- <app-two [getPost1]="postobj"></app-two> -->
    </div>
     <div class="col-md-4">
       <!-- <app-two [getPost1]="postobj"></app-two> -->
    </div>
  
</div>



















